.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

button{
    margin: 0px 10px;
}

.form-main{
    /* margin: 20px 20px; */
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-main h1{
    font-size: 24px;
}